@font-face {
  font-family: "iconfont"; /* Project id 878630 */
  src: url('iconfont.woff2?t=1638237981352') format('woff2'),
       url('iconfont.woff?t=1638237981352') format('woff'),
       url('iconfont.ttf?t=1638237981352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxijingji:before {
  content: "\e61a";
}

.icon-javascript:before {
  content: "\e810";
}

.icon-wodejianli:before {
  content: "\e67b";
}

.icon-plus:before {
  content: "\e694";
}

.icon-zujian:before {
  content: "\e65c";
}

.icon-world:before {
  content: "\e821";
}

.icon-shijian:before {
  content: "\e7fa";
}

.icon-jsx:before {
  content: "\e609";
}

.icon-zhouqi:before {
  content: "\e782";
}

.icon-xuanran:before {
  content: "\e656";
}

.icon-yuansu:before {
  content: "\e60e";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-biaodan:before {
  content: "\e6b0";
}

