// @import url('../iconfont/iconfont.css');
.title {
  background: rgb(0 21 41);;
  color: #fff;
  font-size: 32px;
  div{
    margin: 4px auto;
  }
}
.main-content {
  z-index: -1;
  position: absolute;
  top: 58px;
  width: 100%;
  padding: 12px;
  padding-left: 200px;
  height: 100%;
}